@model dynamic

@{
    ViewBag.Title = "Criar contato";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Cadastro de contato</h1>
</div>
<div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control">
    <label for="celular" class="form-label">Celular</label>
    <input type="number" class="form-control">
</div>
<div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
</div>